/* FONTS **************************************** */
@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), url(assets/fonts/Poppins-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), url(assets/fonts/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), url(assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), url(assets/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), url(assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

/* RESET **************************************** */
* {
  box-sizing: border-box;
  margin: 0;
  /* outline: solid 1px red */
}

/* ROOT **************************************** */
:root {
  /* font-family */
  --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

  /* modular scale - correlation "var(--line-height)" */
  /* 1em | 0.667em  | 0.444em | 0.296em | 0.198em | 0.132em */
  /* 1em | 1.5em    | 2.25em  | 3.375em | 5.063em | 7.594em */
  --ratio: var(--line-height);
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0:calc(1rem + 0.333vw);
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  /* size */
  --max-inline-size: 80rem;
  --min-inline-size: 20rem;
  --line-height: 1.5;

  /* space */
  --s-elem: var(--s0);
  --s-block: var(--s1);
  --s-comp: var(--s2);

  /* font weight */
  --fw-thin: 100;
  --fw-light: 300;
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  
  /* color */
  --clr-bg: hsl(0, 0%, 95%);
}

/* GLOBALS **************************************** */
body {
  background-color: var(--clr-bg);
  min-inline-size: var(--min-inline-size);
  margin-block-end: var(--s-comp);
  font-size: var(--s0);
}

nav {margin-block-start: var(--s-elem);}

.logo {max-block-size: calc(var(--s2)*1.2);}

/* main {visibility: hidden;} */

input {width: 100%;}

/* COMPOSITION **************************************** */
.container {
  /* stand-by property: --containerWidth */
  padding: 0 max(var(--s-comp), 50vw - var(--containerWidth, var(--max-inline-size)) / 2);
}

.box {padding: var(--s2);}

.cluster {
  display: flex;
  flex-direction: row;
  flex-wrap: var(--flex-wrap, wrap);
  gap: var(--s-cluster, var(--s0));
  justify-content: var(--justify-content, flex-start);
  align-items: center;
}

.stack {
  display: flex;
  flex-direction: column;
}
.stack > * + * {margin-block-start: var(--s-stack, var(--s-elem));}
.stack-elem > * + * {margin-block-start: var(--s-elem);}
.stack-block > * + * {margin-block-start: var(--s-block);}
.stack-comp > * + * {margin-block-start: var(--s-comp);}

.sidebar-right {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-comp);
}
.sidebar-right > :last-child {flex-grow: 1;}
.sidebar-right > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 45%;
}

/* UTLITY **************************************** */
.flex-ai\:start {align-items: start;}
.flex-ai\:center {align-items: center;}
.flex-wrap\:no {--flex-wrap: nowrap;}
.flex-jc\:sb {--justify-content: space-between;}
.flex-g\:1 {flex-grow: 1;}

/* BLOCK **************************************** */
.header-balance div {margin-inline-end: auto;}

/* .operation {border-radius: 0.5rem;} */
.transfer {background-image: linear-gradient(to top left, #ffb003, #ffcb03);}
.loan {background-image: linear-gradient(to top left, #39b385, #9be15d);}
.close {background-image: linear-gradient(to top left, #e52a5a, #ff585f);}

.movement {background-color: white;}
.movement p:nth-last-of-type(2) {margin-inline-end: auto;}