/* FONTS **************************************** */
@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), url(assets/fonts/Poppins-Thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), url(assets/fonts/Poppins-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), url(assets/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), url(assets/fonts/Poppins-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Poppins';
  src: local("Poppins"), url(assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

/* RESET **************************************** */
* {
  box-sizing: border-box;
  margin: 0;
  /* outline: solid 1px red */
}

/* ROOT **************************************** */
:root {
  /* font-family */
  --font-sans-serif: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;

  /* modular scale - correlation "var(--line-height)" */
  /* 1em | 0.667em  | 0.444em | 0.296em | 0.198em | 0.132em */
  /* 1em | 1.5em    | 2.25em  | 3.375em | 5.063em | 7.594em */
  --ratio: var(--line-height);
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0:calc(0.8rem + 0.333vw);
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));

  /* size */
  --max-inline-size: 80rem;
  --min-inline-size: 17.5rem;
  --line-height: 1.5;

  /* space */
  --s-elem: var(--s0);
  --s-block: var(--s1);
  --s-comp: var(--s2);

  /* font weight */
  --fw-100: 100;
  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
  
  /* color */
  --clr-light: white;
  --clr-dark: black;
  --clr-gray: #888;
  --clr-bg: hsl(0, 0%, 95%);
  --clr-yellow1: #ffb003;
  --clr-yellow2: #ffcb03;
  --clr-green1: #39b385;
  --clr-green2: #9be15d;
  --clr-red1: #e52a5a;
  --clr-red2: #ff585f;

  --bg-image-yellow: linear-gradient(to top left, var(--clr-yellow1), var(--clr-yellow2));
  --bg-image-green: linear-gradient(to top left, var(--clr-green1),  var(--clr-green2));
  --bg-image-red: linear-gradient(to top left, var(--clr-red1), var(--clr-red2));
}

/* GLOBALS **************************************** */
body {
  background-color: var(--clr-bg);
  min-inline-size: var(--min-inline-size);
  margin-block-end: var(--s-comp);
  font-size: var(--s0);
  font-family: var(--font-sans-serif);
}

nav {margin-block-start: var(--s-elem);}
nav p {font-size: var(--s1); font-weight: var(--fw-600);}
.logo {max-block-size: calc(var(--s2)*1.2);}

/* main {visibility: hidden;} */

input {width: 100%;}

/* COMPOSITION **************************************** */
.container {
  /* stand-by property: --containerWidth */
  padding: 0 max(var(--s-comp), 50vw - var(--containerWidth, var(--max-inline-size)) / 2);
}

.box {padding: var(--s1) var(--s2);}

.cluster {
  display: flex;
  flex-direction: row;
  flex-wrap: var(--flex-wrap, wrap);
  gap: var(--s-cluster, var(--s0));
  justify-content: var(--justify-content, flex-start);
  align-items: center;
}

.stack {
  display: flex;
  flex-direction: column;
}
.stack > * + * {margin-block-start: var(--s-stack, var(--s-elem));}
.stack-elem > * + * {margin-block-start: var(--s-elem);}
.stack-block > * + * {margin-block-start: var(--s-block);}
.stack-comp > * + * {margin-block-start: var(--s-comp);}

.sidebar-right {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s-comp);
}
.sidebar-right > :last-child {flex-grow: 1;}
.sidebar-right > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 45%;
}

/* UTLITY **************************************** */
.container\:fw {--containerWidth: 100%}

.flex-ai\:start {align-items: start;}
.flex-ai\:center {align-items: center;}
.flex-wrap\:no {--flex-wrap: nowrap;}
.flex-jc\:sb {--justify-content: space-between;}
.flex-g\:1 {flex-grow: 1;}

.cluster-s1 {--s-cluster: var(--s1)}

.stack-s-1 {--s-stack: var(--s-1)}
.stack-s-3 {--s-elem: var(--s-3)}

/* BLOCK **************************************** */
.header-balance div {margin-inline-end: auto;}
.header-balance div p:first-of-type {font-size: var(--s1); font-weight: var(--fw-600);}
.header-balance div p:last-of-type {font-weight: var(--fw-300); color: var(--clr-gray);}
#balance {font-size: var(--s2); font-weight: var(--fw-600);}

.movement {background-color: white;}
.movement:first-of-type {
  border-start-start-radius: var(--s0);
  border-start-end-radius: var(--s0);
}
.movement:last-of-type {
  border-end-start-radius: var(--s0);
  border-end-end-radius: var(--s0);
}
.movement p:nth-last-of-type(2) {margin-inline-end: auto;}
.movement p:last-of-type {
  font-size: var(--s1);
}
.movement ~ .movement {border-block-start: solid 1px var(--clr-bg);}
.type {
  padding: var(--s-5) var(--s-1);
  border-radius: var(--s0);
  color: var(--clr-light);
  text-transform: uppercase;
  font-size: var(--s-1);
  font-weight: var(--fw-600);
}
.type--deposit {background-image: var(--bg-image-green);}
.type--withdrawal {background-image: var(--bg-image-red);}

.summary p {text-transform: uppercase;}
.summary span {
  font-size: var(--s1);
  padding-inline-start: var(--s-2);
}
.sum-in {color:var(--clr-green1);}
.sum-out {color: var(--clr-red1);}
.sum-int {color:var(--clr-green1);}

.operation {border-radius: var(--s0);}
.operation > p {font-weight: var(--fw-600);}
.operation form p {font-size: var(--s-1); font-weight: var(--fw-400);}
.transfer {background-image: var(--bg-image-yellow);}
.loan {background-image: var(--bg-image-green);}
.close {background-image: var(--bg-image-red);}
